<div class="container">
    <div class="container-inner inner-sm clearfix">
            <ol>
                <% @items = Want.ranking %>
                <div class="side-box">
                    <h4 class="side-box-title">Haveランキング</h4>
                    <div class="side-box-body">
                        <% @items.each.with_index(1) do |i,count| %>
          　                 <div class="ranking-box">
          　                     第<%= count %>位
          　                     <center><%= image_tag(i.medium_image , alt: i.title ,:class => "item_img") %><br>
                                <div class="detail">
                                    <p class="title">
                                        <a href = i.detail_page_url><%= i.title %></a>
                                    </p>
                            </center></div></li>
                        <% end %>
                    </div>
                </div>
            </ol>
    </div>
</div>