div.side-box-body{
    div.ranking-box{
        width:17%;
        display:inline-block;
    }
}
div.detail{
    height:40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 700px) {
  .raning-box{
    width:33.3333%;
  }
}